<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType application/javascript .mjs
  AddType application/wasm .wasm
</IfModule>

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>